<html>

<head>
    <title>Bootstrap 导航</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Translate and analyze text with Azure Cognitive Services.">
   
    <nav class="navbar navbar-inverse" role="navigation">
       
            <ul class="nav navbar-nav">                    
                <li>
                    <a href="/translate">文本翻译</a>
                </li>
                <li>
                        <a href="/sentiment">情感分析</a>
                    </li>
                <li>
                    <a href="/synthesize">语音服务</a>
                </li>
            </ul>
           
    </nav>

</head>

<body>
    <title>语音服务</title>
    <div class="container">
            <h1>语音服务</h1>
            <p>这个web app使用azure的文本翻译和语音服务，更多关于azure上的api请访问:<a href="https://docs.microsoft.com/azure/cognitive-services/">Azure Cognitive Services</a>.
            </p>
            <div class="row">
                <div class="col">
                        <form>
                                <!-- Enter text to translate. -->
                                <div class="form-group">
                                  <label for="text-to-translate"><strong>请输入密钥</strong></label>
                                  <textarea class="form-control" id="text-to-translate" rows="1"></textarea>
                                </div>
                        </form>
                </div>
              <div class="col">
              <form>
                  <!-- Enter text to translate. -->
                  <div class="form-group">
                    <label for="text-to-translate"><strong>请输入要朗诵的文本</strong></label>
                    <textarea class="form-control" id="text-to-translate" rows="5"></textarea>
                  </div>
                  <!-- Select output language here. -->
                  <div class="form-group">
                    <label for="select-language"><strong>请输入语言</strong></label>
                    <select class="form-control" id="select-language">
                      <option value="zh-Hans">Chinese (Simplified)</option>
                      <option value="zh-Hant">Chinese (Traditional)</option>
                      <option value="hr">Croatian</option>
                      <option value="en">English</option>
                      <option value="fr">French</option>
                      <option value="de">German</option>
                    </select>
                  </div>
                  
                </form>
                <!-- Translated text returned by the Translate API is rendered here. -->
              </div>
              <div class="col">
                
                  <audio id="audio" controls>
                    <source id="audio-source" type="audio/mpeg" />
                  </audio>
                </div>
              </div>
            </div>
          </div>
</body>

</html>
